.container {
  padding: 1rem;
}

.calc {
  border: 1px solid skyblue ;
  height: 582px;
}

.input {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 1rem;
}

.result {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 3rem;
}

.dropdown {
  position: absolute;
  top: 135px;
  left: 35px;
  width: 100px;
  height: auto;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: white;

  p {
    padding: 1px 10px;
  }
  p:hover {
    background-color: #e6ebea;
    padding: 2px 10px;
    cursor: pointer;
  }
}

.separator {
  display: flex;
  justify-content: center;
  border-top: 2px solid #b8bab9;
  width: 95%;
}

.history {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 360px;
}

.btn-clear-history {
  width: 90%;
  border: none;
  padding: 10px 0;
  color: white;
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
}

.button-group {
  padding: 1rem;
}

.header-button {
  display: flex;
  justify-content: space-between;
}

.body-button {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-operator {
  border: 1px solid transparent;
  background-color: #eff0b1;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
}

.btn-numeric {
  border: 1px solid transparent;
  background-color: #b1f0e8;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
}

.btn-clear {
  width: 75%;
  border: 1px solid transparent;
  background-color: #b1f0e8;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 400px;
  }  
}